@model System.String
@{
    var meta = ViewData.ModelMetadata;   
}
<div class="control-group">
    @Html.LabelFor(m => m, new { @class="control-label" })
    <div class="controls">
        @Html.TextBoxFor(m => m, new { placeholder = meta.Watermark})
    </div>
</div>
